PORT=3000
NODE_ENV=development

DB_NAME=eyun_chatbot
DB_USER=root
DB_PASSWORD=123456
DB_HOST=localhost
DB_PORT=3306
DB_DIALECT=mysql

# Eyun API Configuration
EYUN_BASE_URL=http://your-domain.com
EYUN_TOKEN=your-auth-token-here
